@font-face {
  font-family: 'bangla';
  src: url('bangla.ttf');
}
:root {
  --cell_font: 16px;
}
.custom_scroll {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-track {
  background: #e4e4e47e;
  border-radius: 25px;
  cursor: pointer;
}
.custom_scroll::-webkit-scrollbar-thumb,
.custom_scroll::-webkit-scrollbar-thumb {
  background: rgba(43, 47, 51, 0.219);
  border-radius: 25px;
  height: 10px;
  cursor: pointer;
}
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 0.568);
}
#reportSmModal {
  font-family: bangla, Raleway;
}
#reportSmModal #report_content {
  background-color: #ffffff42;
  backdrop-filter: blur(3px);
  color: white;
}
#reportSmModal #report_content h5,
#reportSmModal #report_content h6 {
  font-size: 20px;
}
#reportSmModal #report_content label {
  font-size: 18px;
}
#reportSmModal #report_content .modal-body {
  height: 79vh;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#reportSmModal #report_content .modal-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
#reportSmModal #report_content .modal-body::-webkit-scrollbar-track {
  background: #e4e4e47e;
  border-radius: 25px;
  cursor: pointer;
}
#reportSmModal #report_content .modal-body::-webkit-scrollbar-thumb,
#reportSmModal #report_content .modal-body::-webkit-scrollbar-thumb {
  background: rgba(43, 47, 51, 0.219);
  border-radius: 25px;
  height: 10px;
  cursor: pointer;
}
#reportSmModal #report_content .modal-body::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 0.568);
}
#reportSmModal #report_content .modal-body .modal_cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.report_cell_body {
  overflow-x: scroll;
  padding-bottom: 10px;
  /* Track */
  /* Handle */
  /* Handle on hover */
  position: relative;
}
.report_cell_body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.report_cell_body::-webkit-scrollbar-track {
  background: #e4e4e47e;
  border-radius: 25px;
  cursor: pointer;
}
.report_cell_body::-webkit-scrollbar-thumb,
.report_cell_body::-webkit-scrollbar-thumb {
  background: rgba(43, 47, 51, 0.219);
  border-radius: 25px;
  height: 10px;
  cursor: pointer;
}
.report_cell_body::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 0.568);
}
.report_cell_body div {
  transition-duration: 0.1s;
}
.report_cell_body .report_loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.575);
  backdrop-filter: blur(2px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.report_cell_body .report_cells {
  font-family: 'bangla', sans-serif;
  width: max-content;
}
.report_cell_body .report_cells .cell_sub_heading,
.report_cell_body .report_cells .cell_heading {
  border: 1px solid gray;
  background-color: #eeeeee;
}
.report_cell_body .report_cells .cell_sub_heading span,
.report_cell_body .report_cells .cell_heading span {
  display: inline-block;
  padding: 7px 6px;
  font-size: var(--cell_font);
  line-height: var(--cell_font);
  text-wrap: nowrap;
}
.report_cell_body .report_cells .cell_heading {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  line-height: 22px;
  border-right-width: 0;
  width: max-content;
}
.report_cell_body .report_cells .cell_heading:first-child {
  border-bottom-width: 1px;
}
.report_cell_body .report_cells .cell_heading:last-child {
  border-width: 1px;
}
.report_cell_body .report_cells .cell_heading > span {
  width: max-content;
  align-self: center;
  line-height: 7px;
}
.report_cell_body .report_cells .cell_heading.date_width_1 {
  width: 80px;
}
.report_cell_body .report_cells .cell_heading .cell_heading_body {
  display: flex;
  flex-wrap: wrap;
}
.report_cell_body .report_cells .cell_heading .cell_heading_body:last-child .cell_sub_heading {
  border-right-width: 0;
}
.report_cell_body .report_cells .cell_sub_heading {
  padding: 0px 2px;
  line-height: 22px;
  border-width: 0;
  border-top-width: 1px;
  border-right-width: 1px;
}
.report_cell_body .report_cells .cell_sub_heading.cell_sub_heading_total {
  border-top: 0px;
}
.report_cell_body .report_cells .cell_sub_heading.cell_sub_heading_total span {
  line-height: 11px;
}
.card .card-header {
  padding: 15px 30px;
}
body[main-theme-layout="main-theme-layout-4"] .report_data_cell_wrapper,
body[main-theme-layout="main-theme-layout-4"] .report_cell_body .report_cells .cell_sub_heading,
body[main-theme-layout="main-theme-layout-4"] .report_cell_body .report_cells .cell_heading {
  background-color: #303841;
}
body[main-theme-layout="main-theme-layout-4"] .report_data_cell_wrapper .report_data_cell_body:hover {
  background-color: #36404a;
}
body[main-theme-layout="main-theme-layout-4"] .report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent .report_data_cell input {
  color: rgba(255, 255, 255, 0.7);
}
body[main-theme-layout="main-theme-layout-4"] .report_bn_date {
  font-weight: 400;
}
body[main-theme-layout="main-theme-layout-4"] .page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu > li > a.active,
body[main-theme-layout="main-theme-layout-4"] .page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu > li > a:hover {
  color: #37c4ff;
}
body[main-theme-layout="main-theme-layout-4"] input,
body[main-theme-layout="main-theme-layout-4"] button,
body[main-theme-layout="main-theme-layout-4"] select,
body[main-theme-layout="main-theme-layout-4"] optgroup,
body[main-theme-layout="main-theme-layout-4"] textarea {
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
body[main-theme-layout="main-theme-layout-4"] .input_loading .responsive_edit_in_modal_trigger {
  color: #c9d1ff;
}
body[main-theme-layout="main-theme-layout-4"] .modal_cols input {
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
body[main-theme-layout="main-theme-layout-4"] .report_cell_body .report_loader {
  background: rgba(48, 56, 65, 0.66);
}
.report_data_cell_wrapper {
  width: max-content;
  margin-top: 5px;
  height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.report_data_cell_wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.report_data_cell_wrapper::-webkit-scrollbar-track {
  background: #e4e4e47e;
  border-radius: 25px;
  cursor: pointer;
}
.report_data_cell_wrapper::-webkit-scrollbar-thumb,
.report_data_cell_wrapper::-webkit-scrollbar-thumb {
  background: rgba(43, 47, 51, 0.219);
  border-radius: 25px;
  height: 10px;
  cursor: pointer;
}
.report_data_cell_wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 0.568);
}
.report_data_cell_wrapper > div:last-child .report_data_cell_body .report_data_cell {
  border-bottom: 0;
}
.report_data_cell_wrapper > div:last-child .report_data_cell_body .report_data_cell_group .report_data_cell_parent {
  position: relative;
}
.report_data_cell_wrapper > div:last-child .report_data_cell_body .report_data_cell_group .report_data_cell_parent .report_data_cell {
  border-bottom: 0;
}
.report_data_cell_wrapper .report_data_cell_body {
  transition-duration: 0.3s;
}
.report_data_cell_wrapper .report_data_cell_body:hover {
  background-color: #eeeeee;
}
.report_data_cell_wrapper .report_data_cell_body.report_data_cell_body_friday {
  background-color: rgba(255, 0, 0, 0.09);
}
.report_data_cell_wrapper .report_data_cell_body.report_data_cell_body_today {
  background-color: rgba(0, 204, 255, 0.09);
}
.report_data_cell_wrapper .report_data_cell_body > .report_data_cell:first-child {
  border: 1px solid gray;
  border-right: 0;
}
.report_data_cell_wrapper .report_data_cell_body > .report_data_cell:last-child {
  border-bottom: 0;
}
.report_data_cell_wrapper .report_data_cell_body:first-child .report_data_cell_group {
  border-top: 0;
}
.report_data_cell_wrapper .report_data_cell_body:first-child > .report_data_cell {
  border-top: 0;
  line-height: 20px;
  text-align: left;
  padding: 0px 10px;
  min-width: 70px;
  font-size: 16px;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group {
  border: 1px solid gray;
  border-right: 0;
  border-bottom: 0;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent:last-child {
  border-right: 0;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent:last-child .report_data_cell {
  border-right: 0;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent .report_data_cell {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  text-align: center;
  min-width: 30px;
  width: 40px;
  height: 25px;
  position: relative;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent .report_data_cell span {
  display: block;
  padding: 7px 10px;
  font-size: 16px;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent .report_data_cell input {
  width: 100%;
  padding: 0px 5px;
  font-size: var(--cell_font);
  border: 0;
  background-color: transparent;
  outline: 0;
}
.report_data_cell_wrapper .report_data_cell_body .report_data_cell_group .report_data_cell_parent .report_data_cell input[type="checkbox"] {
  margin: 5px 0px;
}
.tableReportDiv {
  font-family: 'bangla', sans-serif;
  overflow: scroll;
  height: 67vh;
}
.tableReportDiv section:hover {
  background: #00000028;
}
.tableReportDiv h6 {
  font-family: 'bangla', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: black;
  margin: 0;
}
.tableReportDiv .head {
  width: 2092px;
  text-align: center;
  z-index: 2;
  display: flex;
}
.tableReportDiv .head.head_h6_margin_control h6 {
  margin: 4px 0px;
  overflow: hidden;
}
.tableReportDiv .head div {
  float: left;
  font-size: 18px;
  line-height: 28px;
  color: black;
}
.tableReportDiv .head div div {
  border-top: 1px solid gray;
}
.tableReportDiv .head div:nth-child(1) {
  width: 75px;
}
.tableReportDiv .head div:nth-child(2) {
  width: 265px;
}
.tableReportDiv .head div:nth-child(2) div {
  width: 25%;
}
.tableReportDiv .head div:nth-child(3) {
  width: 132.5px;
}
.tableReportDiv .head div:nth-child(3) div {
  width: 50%;
}
.tableReportDiv .head div:nth-child(4) {
  width: 132.5px;
}
.tableReportDiv .head div:nth-child(4) div {
  width: 50%;
}
.tableReportDiv .head div:nth-child(5) {
  width: 76px;
}
.tableReportDiv .head div:nth-child(6) {
  width: 132px;
}
.tableReportDiv .head div:nth-child(6) div {
  width: 50%;
}
.tableReportDiv .head div:nth-child(7) {
  width: 132px;
}
.tableReportDiv .head div:nth-child(7) div {
  width: 50%;
}
.tableReportDiv .head div:nth-child(8) {
  width: 265px;
}
.tableReportDiv .head div:nth-child(8) div {
  width: 25%;
}
.tableReportDiv .head div:nth-child(9) {
  width: 265px;
}
.tableReportDiv .head div:nth-child(9) div {
  width: 25%;
}
.tableReportDiv .head div:nth-child(10) {
  width: 265px;
}
.tableReportDiv .head div:nth-child(10) div {
  width: 25%;
}
.tableReportDiv .head div:nth-child(11) {
  width: 140px;
}
.tableReportDiv .head div:nth-child(11) div {
  width: 50%;
}
.tableReportDiv .head div:nth-child(12) {
  width: 77px;
}
.tableReportDiv .head div:nth-child(12) div {
  width: 100%;
}
.tableReportDiv .head div:nth-child(12) .checkbox_div {
  height: 100%;
  line-height: 35px;
}
.tableReportDiv .head div:nth-child(13) {
  width: 67px;
}
.tableReportDiv .head div:nth-child(13) div {
  width: 100%;
}
.tableReportDiv .head div:nth-child(13) .checkbox_div {
  height: 100%;
  line-height: 35px;
}
.tableReportDiv .head div:nth-child(14) {
  width: 67px;
}
.tableReportDiv .head div:nth-child(14) div {
  width: 100%;
}
.tableReportDiv .head div:nth-child(14) .checkbox_div {
  height: 100%;
  line-height: 35px;
}
.tableReportDiv .head > div {
  border: 1px solid gray;
  border-left: 0;
  height: 100px;
  box-sizing: border-box;
}
.time::-webkit-datetime-edit-ampm-field {
  display: none;
}
.time {
  position: relative;
}
.time::before {
  content: '';
  width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99;
  position: absolute;
}
.time::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  width: 10px;
  height: 10px;
}
span {
  font-family: 'bangla', sans-serif;
}
.bn {
  font-family: 'bangla', 'Raleway', sans-serif;
}
.report_bn_date {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
}
.report_search_form select {
  border: 1px solid gray;
  margin-right: 10px;
  padding: 2px 0px;
}
.report_search_form button {
  border: 1px solid gray;
  cursor: pointer;
}
.tableReportDiv .body > div {
  height: 36px;
}
.tableReportDiv .body div input {
  width: 100%;
  border: 0;
  text-align: center;
  font-size: 16px;
  background: transparent;
  padding: 3px;
}
.tableReportDiv .body div select {
  border: 1px solid gray;
  text-align: center;
  font-size: 16px;
}
.tableReportDiv .body div div {
  border-top: 0;
}
.tableReportDiv .body > div {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 0;
}
.tableReportDiv .head div div {
  padding-top: 5px;
}
.tableReportDiv .body div div {
  padding-top: 0px;
}
.brr {
  border-right: 1px solid gray;
  height: 35px;
}
.head_bottom_text_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
}
.tableReportDiv {
  padding-right: 10px;
}
.tableReportDiv::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
/* Track */
.tableReportDiv::-webkit-scrollbar-track {
  background: #e4e4e47e;
  border-radius: 25px;
  cursor: pointer;
}
/* Handle */
.tableReportDiv::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: rgba(43, 47, 51, 0.219);
  border-radius: 25px;
  height: 10px;
  cursor: pointer;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 0.568);
}
h3 {
  font-family: 'bangla', sans-serif;
}
.goto-month form select {
  border: 0;
  background: #eef5f9;
  border-radius: 4px;
  padding: 2px;
}
.goto-month form button {
  background: #eef5f9;
  border: 1px solid black;
  height: 31px;
  width: 29px;
  border-radius: 4px;
}
.goto-month form button i {
  color: black;
  line-height: 29px;
}
.input_box_parent {
  position: relative;
}
.input_box_parent .note_box_area {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px !important;
  height: 10px;
  background: transparent !important;
}
.input_box_parent .note_box_area:hover .note_box {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.input_box_parent .note_box_area .note_box {
  position: absolute;
  height: 57px;
  width: 200px;
  border: 1px solid #b4b4b4;
  z-index: 9999999;
  top: 5px;
  left: 85%;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  padding: 5px;
  line-height: 20px;
  transform: scale(0);
}
.input_box_parent .note_box_area .action_btn {
  position: absolute;
  top: -3px;
  right: -4px;
  font-size: 20px;
  transform: rotate(225deg);
  color: rgba(128, 128, 128, 0.575);
  display: inline-block;
  /* width: 11px; */
  /* height: 11px; */
  line-height: 10px;
  text-align: center;
  cursor: pointer;
}
.fade {
  background: rgba(0, 0, 0, 0.5);
}
.responsive_edit_in_modal_trigger {
  display: none;
}
.input_loading {
  animation: input_animate 2s linear infinite;
}
.input_loading .responsive_edit_in_modal_trigger {
  display: block;
  position: absolute;
  top: 4px;
  right: 3px;
  font-size: 11px;
  color: #2a3b9c;
  cursor: pointer;
  transition-duration: 0.3s;
}
.input_loading .responsive_edit_in_modal_trigger:hover {
  color: #2a9c8d;
}
.responsive_single_cell {
  position: fixed;
  bottom: 0;
  width: 100svw;
  left: 0;
  z-index: 9;
}
.responsive_single_cell .data_input_cell {
  width: 100%;
  border: 2px solid #1b75bb;
  padding: 3px 9px;
}
@media screen and (max-width: 767.9px) {
  .report_bn_date {
    font-size: 17px;
  }
  .report_search_form select#search_month {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .card-title h3 {
    font-size: 17px;
  }
  .report_search_form {
    text-align: right;
  }
}
@keyframes input_animate {
  0% {
    box-shadow: inset 0px 0px 6px 0px #4eb4cf;
  }
  50% {
    box-shadow: inset 0px 0px 6px 0px #4eb3cf1f;
  }
  100% {
    box-shadow: inset 0px 0px 6px 0px #4eb4cf;
  }
}
/*# sourceMappingURL=./ReportBody.css.map */