/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
/**/*.zip

public/contents/admin/assets/images/lightgallry/**/*.jpg
public/contents/admin/assets/images/slider/**/*.jpg
public/contents/admin/assets/images/masonry/**/*.jpg
public/contents/admin/assets/images/ecommerce/**/*.jpg
public/contents/admin/assets/images/ecommerce/**/*.png
public/uploads
